/* Background pattern from Toptal Subtle Patterns */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    text-align: center;
}

.addClass, .navigation>ul>li, .instructions, .mainContent, input, button {
    font-size: calc(12px + .5vw);
}
body {
    background-image: url("memphis-colorful.png");
}

h1, h2, h3, h4 {
    font-variant: small-caps;
}

.icon {
    height: calc(12px + .5vw);
    width: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.navigation {
    width: 100%;
    float: left;
    background-color: rgb(30, 30, 30);
    color: #ffffff;
}

.addClass {
    background-color: rgb(30, 30, 30);
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    width: calc(130px + .5vw);
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

button {
    border-color: rgb(30, 30, 30);
    color: rgb(30, 30, 30);
    background-color: #ffffff;
}

input[type="number"] {
    width: 20%;
}

input[type="text"] {
    width: 30%;
}

ul {
    margin: 0;
    padding: 0;
}

.navigation>ul>li {
    width: 33%;
    display: inline-block;
}

.active {
    background-color: #ffffff;
    color: rgb(30, 30, 30);
}

.mainContent{
    width: 100%;
    float: left;
    padding: 2%;
}

.instructions {
    width: 100%;
    float: right;
    padding: 10px 30px;
    background-color: rgb(30, 30, 30);
    color: #ffffff;
}

.instructionList {
    display: inline-block;
}

.instructionList>li {
    text-align: left;
}

#notes{
    padding: 10px;
    width: 70%;
    text-align: left;
}
.notesDiv{
    padding: 2% 0%;
}

@media (min-width:850px) {
    * {
        text-align: left;
    }
    .addClass, .navigation>ul>li, .instructions, #calculations, label{
        font-size: calc(3px + .8vw);
    }
    .mainContent, input, button, #notes {
        font-size: calc(2px + .7vw);
    }
    .navigation {
        height: 100%;
        width: 10%;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        position: fixed;
    }
    .addClass {
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 10%;
        border-width: 3px;
        justify-content: left;
    }
    button {
        padding: .3% 2%;
    }
    button:hover {
        background-color: rgb(30, 30, 30);
        color: #ffffff;
    }
    input[type="number"] {
        padding: .3% 2%;
    }
    input[type="text"] {
        padding: .3% 2%;
    }
    .navigation>ul>li {
        height: 10%;
        width: 100%;
        display: block;
        padding: 10%;
    }
    .navigation>ul>li:hover, .addClass:hover, .active {
        background-color: #ffffff;
        color: rgb(30, 30, 30);
    }
    .mainContent{
        height: 100%;
        width: 50%;
        float: left;
        padding: 2%;
        margin-left: 10%;
    }
    .instructions, .notesDiv{
        width: 34%;
        float: right;
    }
    .instructions{
        padding: 2% 3%;
        margin: 3%;
    }
    #notes{
        width: 100%;
        height: 30%;
    }
    .notesDiv{
        margin: 0% 3%;
    }
}