* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    text-align: center;
}
h1, h2, h3, h4 {
    font-variant: small-caps;
}
.navigation {
    width: 100%;
    float: left;
    background-color: rgb(30, 30, 30);
    color: #ffffff;
}
.addClass {
    width: 20%;
    height: 5%;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    width: 33%;
    display: inline-block;
}
.mainContent {
    width: 100%;
    float: left;
    padding: 2%;
}
.instructions {
    width: 100%;
    float: right;
    padding: 2%;
    background-color: rgb(30, 30, 30);
    ;
    color: #ffffff;
}
@media (min-width:1170px) {
    * {
        margin: 0;
        box-sizing: border-box;
        font-family: "Segoe UI";
        text-align: left;
    }
    h1, h2, h3, h4 {
        font-variant: small-caps;
    }
    .navigation {
        height: 100%;
        width: 10%;
        float: left;
        background-color: rgb(30, 30, 30);
        color: #ffffff;
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    .addClass {
        width: 100%;
        height: 10%;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        height: 10%;
        width: 100%;
        display: block;
        padding: 10%;
    }
    .mainContent {
        height: 100%;
        width: 50%;
        float: left;
        padding: 2%;
    }
    .instructions {
        width: 34%;
        float: right;
        padding: 2%;
        margin: 3%;
        background-color: rgb(30, 30, 30);
        ;
        color: #ffffff;
    }
}