/* Background pattern from Toptal Subtle Patterns */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    text-align: center;
}

body {
    background-image: url("memphis-colorful.png");
}

h1, h2, h3, h4 {
    font-variant: small-caps;
}

.navigation {
    width: 100%;
    float: left;
    background-color: rgb(30, 30, 30);
    color: #ffffff;
}

.addClass {
    background-color: rgb(30, 30, 30);
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    width: 20%;
    height: 5%;
    margin: 2%;
    padding: 0;
    font-weight: bold;
}

button {
    border-color: rgb(30, 30, 30);
    color: rgb(30, 30, 30);
    background-color: #ffffff;
}

input[type="number"] {
    width: 20%;
}

input[type="text"] {
    width: 30%;
}

ul {
    margin: 0;
    padding: 0;
}

.navigation>ul>li {
    width: 33%;
    display: inline-block;
}
.active {
    background-color: #ffffff;
    color: rgb(30, 30, 30);
}

.mainContent {
    width: 100%;
    float: left;
    padding: 2%;
}

.instructions {
    width: 100%;
    float: right;
    padding: 4%;
    background-color: rgb(30, 30, 30);
    color: #ffffff;
}

.instructionList {
    display: inline-block;
}

.instructionList>li {
    text-align: left;
}

@media (min-width:800px) {
    * {
        margin: 0;
        box-sizing: border-box;
        font-family: "Segoe UI";
        text-align: left;
    }
    body {
        background-image: url("memphis-colorful.png");
    }
    h1, h2, h3, h4 {
        font-variant: small-caps;
    }
    .navigation {
        height: 100%;
        width: 10%;
        float: left;
        background-color: rgb(30, 30, 30);
        color: #ffffff;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        position: fixed;
    }
    .addClass {
        background-color: rgb(30, 30, 30);
        color: #ffffff;
        font-family: "Segoe UI";
        width: 100%;
        height: 10%;
        margin: 0;
        padding: 10%;
        font-weight: bold;
        font-size: 17px;
        border-width: 3px;
    }
    button {
        border-color: rgb(30, 30, 30);
        color: rgb(30, 30, 30);
        background-color: #ffffff;
        padding: .3% 2%;
    }
    button:hover {
        background-color: rgb(30, 30, 30);
        color: #ffffff;
    }
    input[type="number"] {
        width: 20%;
        padding: .3% 2%;
        max-
    }
    input[type="text"] {
        width: 30%;
        padding: .3% 2%;
    }
    ul {
        margin: 0;
        padding: 0;
    }

    .navigation>ul>li {
        height: 10%;
        width: 100%;
        display: block;
        padding: 10%;
    }
    .navigation>ul>li:hover, .addClass:hover, .active {
        background-color: #ffffff;
        color: rgb(30, 30, 30);
    }
    .mainContent {
        height: 100%;
        width: 50%;
        float: left;
        padding: 2%;
        margin-left: 10%;
    }
    .instructions {
        width: 34%;
        float: right;
        padding: 2% 3%;
        margin: 3%;
        background-color: rgb(30, 30, 30);
        color: #ffffff;
    }
}