* {
  color: rgba(30, 30, 30, 1);
}

.app-container {
  margin: 0px 5px;
  padding: 5px;
}

button:hover, .component-class-tab:hover {
  cursor: pointer;
  font-weight: bold;
}

input {
  background-color: rgba(0, 0, 0 , 0);
}