.component-class-tab {
  position: relative;
  width: 20vw;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px 10px 1px 10px;
  text-align: left;
  -webkit-box-shadow: -3px 0px 2px -2px rgba(0, 0, 0, 0.15), 0px -3px 2px -2px rgba(0, 0, 0, 0.15), 3px 0px 2px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -3px 0px 2px -2px rgba(0, 0, 0, 0.15), 0px -3px 2px -2px rgba(0, 0, 0, 0.15), 3px 0px 2px -2px rgba(0, 0, 0, 0.15);
  box-shadow: -3px 0px 2px -2px rgba(0, 0, 0, 0.15), 0px -3px 2px -2px rgba(0, 0, 0, 0.15), 3px 0px 2px -2px rgba(0, 0, 0, 0.15);
}

.component-class-tab:focus {
  z-index: 1;
}

.active-tab {
  border-bottom: none;
  background-color: white;
  font-weight: bold;
  z-index: 1;
}

.component-class-tab-name {
  margin-right: 9px;
  overflow: hidden;
  pointer-events: none;
}