.component-class-container {
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1vw;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .15);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .15);
}

.component-class-content-container {
  position: relative;
  padding: 20px 0px;
  max-width: 800px;
}

.component-class-name {
  border: 0;
  border-bottom: 2px solid #303030;
  font-size: large;
  font-weight: bold;
}

.component-class-grade {
  position: absolute;
  right: 3px;
  font-weight: bold;
}

.component-add-section-btn {
  border: 2px solid rgb(92, 148, 110);
  border-radius: 5px;
  background-color: white;
  padding: 4px 15px;
}

.component-add-section-btn:hover {
  background-color: rgb(92, 148, 110);
  color: white;
}