.component-flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px 10px;
}

.component-class-tab {
  position: relative;
  border: 0;
  border-bottom: 1px solid rgba(30, 30, 30, .5);
  background-color: white;
  padding: 5px 10px 0px 10px;
}

.active-tab {
  border-bottom: 2px solid rgba(30, 30, 30);
  font-weight: bold;
}

.component-add-class-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid lightgray;
  background-color: white;
  padding: 6px 15px;
}

.component-delete-class-btn {
  position: absolute;
  top: 2px;
  right: -4px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}