input {
  border: 0;
  border-bottom: 1px solid rgba(30, 30, 30);
  margin: 0px 5px;
}

.component-input-text {
  width: 30vw;
}
.component-input-num {
  width: 60px;
}

.component-delete-btn {
  border: 2px solid #303030;
  padding: 2px 15px;
  background-color: lightpink;
  font-weight: bold;
}