.component-grade-input {
  border: 0;
  border-bottom: 1px solid rgba(30, 30, 30, .15);
  margin: 0px 5px;
}

.text {
  width: 30vw;
  max-width: 300px;
}

.num {
  width: 58px;
}

.component-delete-grade-btn {
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 0, 0, 1);
  padding: 0px 5px;
}