.component-grade-input {
  border: 0;
  border-bottom: 1px solid rgba(30, 30, 30, .15);
  margin: 0px 5px;
}

.text {
  width: 30vw;
}
.num {
  width: 60px;
}

.component-delete-grade-btn {
  border: none;
  border-radius: 5px;
  background-color: white;
  color: rgba(255, 0 , 0, .7);
  padding: 0px 15px;
}
