.component-section-container {
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.component-section-input {
  border: 0;
  border-bottom: 1px solid rgb(30, 30, 30);
  margin: 0px 5px;
}

.component-add-grade-btn {
  position: absolute;
  top: 3px;
  right: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.component-delete-section-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
}

.component-section-grade {
  position: absolute;
  right: 3px;
  bottom: 3px;
  color: rgba(30 , 30, 30, .1);
  font-size: 50px;
}

.red {
  background-color: rgba(207, 18, 89, .08);
}

.yellow {
  background-color: rgba(255, 240, 124, .08);
}

.green {
  background-color: rgba(92, 148, 110, .08);
}

.blue {
  background-color: rgba(39, 154, 241, .08);
}

.purple {
  background-color: rgba(135, 89, 155, .08);
}