.component-section-container {
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
}

.component-section-input {
  border: 0;
  border-bottom: 1px solid rgb(30, 30, 30);
  margin: 0px 5px;
}

.component-add-grade-btn {
  border: 2px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  padding: 2px 15px;
}

.component-delete-section-btn {
  border: 2px solid lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  padding: 2px 15px;
}

.red {
  background-color: rgba(207, 18, 89, .08);
}

.yellow {
  background-color: rgba(255, 240, 124, .08);
}

.green {
  background-color: rgba(92, 148, 110, .08);
}

.blue {
  background-color: rgba(39, 154, 241, .08);
}

.purple {
  background-color: rgba(135, 89, 155, .08);
}