.component-section-container {
  position: relative;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 15px 5px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.component-section-input {
  border: 0;
  border-bottom: 1px solid rgb(30, 30, 30);
  margin: 0px 5px;
}

.component-add-grade-btn {
  position: absolute;
  top: 3px;
  right: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.component-delete-section-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  z-index: 1;
}

.component-section-grade {
  position: absolute;
  right: 3px;
  bottom: 3px;
  color: rgba(30, 30, 30, .2);
  font-size: 35px;
}

.red {
  background: rgb(232, 169, 193);
  background: linear-gradient(110deg, rgba(232, 169, 193, .10) 0%, rgba(207, 18, 89, .10) 100%);
}

.yellow {
  background: rgb(248, 243, 205);
  background: linear-gradient(110deg, rgba(248, 243, 205, .10) 0%, rgba(255, 240, 124, .10) 100%);
}

.green {
  background: rgb(194, 213, 200);
  background: linear-gradient(110deg, rgba(194, 213, 200, .10) 0%, rgba(92, 148, 110, .10) 100%);
}

.blue {
  background: rgb(176, 215, 244);
  background: linear-gradient(110deg, rgba(176, 215, 244, .10) 0%, rgba(39, 154, 241, .10) 100%);
}

.purple {
  background: rgb(208, 193, 215);
  background: linear-gradient(110deg, rgba(208, 193, 215, .10) 0%, rgba(135, 89, 155, .10) 100%);
}